*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}
.container{
    width:70%;
    margin: auto;
    text-align: center;
    color:white;
}
h1{
    font-size: 50px;
    
}

.dice{
    text-align: center;
    display:inline-block;
    padding: 20px;
}
